.banner-area {
    padding-top: 72px;
    padding-bottom: 32px;
}

.intro-area {
    padding: 160px 0;
    background-attachment: fixed;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}

.about-area {
    padding: 160px 0;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .card-item {
        width: calc(86px * 3 + 24px * (3 - 1));
        border: 1px solid rgba(227, 227, 227, 1);
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
        padding: 16px;
        border: 1px solid #E3E3E3;


    }

    .card-title {
        margin-bottom: 4px;

        span {
            display: block;
            margin-bottom: 4px;
        }
    }
}

.contact-area{
    padding: 96px 0;
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.project-area{
    padding: 160px 0;
}


footer{
    padding: 40px 0;
}