h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

.fs-1 {
    font-size: 64px;
}

.fs-2 {
    font-size: 32px;
}

.fs-3 {
    font-size: 24px;
}

.fs-4 {
    font-size: 20px;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: $color-primary;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}